@import "bootstrap";
@import "font-awesome";

.magoo {
  margin-top: 50px;
  color: blue;
  text-align: center;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;

}

.header-divider {
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     height:80px;
     position:absolute;
     right:249px;
     top:10px; 
}

.index-helpers {
  font-size: 30px;
}

#map {
  height: 300px;
}

body {
  background: image_url('greyzz');
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.index-text {
  font-weight: normal;
  font-size: 30px;
}

.img-button {
  position: relative;
  top: 100px;
  right: 44.1%;
  z-index: 1;
}

.hero {
  position: absolute;
  margin-top: -7px;
}

#myModalLabel {
  padding-right: 25%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.mission-statement {
  
}

.underline-words {
  text-decoration: underline;
}

.underline-words h3 {
  text-decoration: underline;
}

.image-index {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.index-heading {
  margin-top: 30px;
  text-decoration: underline;
}

.index-name {
  padding-top: 30px;
}

.left {
  float: left;
  margin-right: 1em;
}

.right {
  float: right;
  margin-left: 1em;
}

.button-top {
  margin-top: -45px;
}

.booyah-box2 {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 5px 5px 5px;
}

.text-insert {
  padding: 0 0 0 0;
}

.btn-margin {
  margin-top: 5px;
}

.inline-space {
  margin-right: 10px;
}

.read-button {
  margin-top: 5px;
}

.tooltip {
  position: relative;
  opacity: 1;
}

.resize-icon {
  font-size: 10px;
  padding-left: 0;
  margin: 0;
}

li.resize-li {
  padding: 0;
  margin: 0;
}

.li-padding {
  padding-right: 0;
  margin-right: 0;
}

@media only screen and (max-width: 991px) { 
    li.tooltip {
    display: none;
  }
}

.taller {
  min-height: 300px;
}

.inbox-button {
  margin-top: -40px;
}

.banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
}

#banner1 {
  background-image: image-url("img1.jpg");
}

#banner2 {
  background-image: image-url("img2.jpg");
}

#banner3 {
  background-image: image-url("img3.jpg");
}

#banner4 {
  background-image: image-url("img4.jpg");
}

#banner5 {
  background-image: image-url("img5.jpg");
}

#banner6 {
  background-image: image-url("img6.jpg");
}

#banner7 {
  background-image: image-url("img7.jpg");
}

#banner8 {
  background-image: image-url("img8.jpg");
}

#banner9 {
  background-image: image-url("img9.jpg");
}

#banner10 {
  background-image: image-url("img10.jpg");
}

#banner11 {
  background-image: image-url("img11.jpg");
}

#banner12 {
  background-image: image-url("img12.jpg");
}

#banner13 {
  background-image: image-url("img13.jpg");
}

#banner14 {
  background-image: image-url("img14.jpg");
}

#banner15 {
  background-image: image-url("img15.jpg");
}

.testing {
  background-color: rgba(0, 0, 0, 0.8);
  height: fit-content;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 100;
  top: 20em;
  padding-left: 40px;
  padding-right: 40px;
}

.carousel-caption {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}

.resize-filler {
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 auto;
}

.resize-filler1 {
  height: 250px;
  width: 250px;
  display: block;
}

.on-hover {
  color: blue;
  cursor:pointer;
}

.chat-pic {
  width: 45px;
  height: auto;
  border-radius: 5px;
}

.no-margin {
  margin-left: -15px;
  padding-left: 0;
}

.clearing {
  margin-top: 5px;
}

.modal-header {
  border-bottom: none;
}

@media only screen and (max-width: 900px) { 
    .testing {
    top: 16em;
  }
}

@media only screen and (max-width: 465px) { 
    .testing {
    top: 14em;
  }
}

@media only screen and (max-width: 320px) { 
    .testing {
    top: 12em;
  }
}

@media only screen and (max-width: 700px) { 
    .img-button {
    right: 37%;
  }
}

@media only screen and (max-width: 400px) { 
    .img-button {
    right: 29%;
  }
}

.margin-notice {
  margin-bottom: 0;
}

.buttons-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  margin-right: 20px;
}

.modal-header {
  padding-bottom: 0;
}

div.modal-header1 {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.text-left {
  padding-left: 10px;
}

.mailbox {
  margin-bottom: 10px;
    
}

.line-height {
  line-height: .5em;
}

.conversation-text {
  padding-top: 15px;
}

.convo-pic {
  margin-left: 16px;
}

.user-text {
  padding-top: 10px;
}

.markerclass {
  display: block;
  padding-bottom: 15px;
}

.user-pic {
  margin-bottom: 8px;
}

.add-height {
  line-height: 1em;
}

.click-link {
  cursor: pointer;
}

.filler-left {
  margin-left: -10px;
}

.center-chat {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 478px) and (max-width: 551px) { 
  .reposition-button {
    margin-top: 20px;
  }
}
    









