@import "bootstrap";
@import "font-awesome";


.magoo {
  margin-top: 50px;
  color: blue;
  text-align: center;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;

}

.header-divider {
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     height:80px;
     position:absolute;
     right:249px;
     top:10px; 
}

.index-helpers {
  font-size: 30px;
}

#map {
  height: 300px;
}

body {
  background: image_url('greyzz');
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.index-text {
  font-weight: normal;
  font-size: 30px;
}

.img-button {
  position: relative;
  top: 100px;
  right: 44.1%;
  z-index: 1;
}

.hero {
  position: absolute;
  margin-top: -7px;
}

#myModalLabel {
  padding-right: 27%;
}

.mission {
  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.80);
  width: 100%;
  position: relative;
  left: 0;
  top: 19em;
  padding: 0 0 0 150px;
}

.mission-statement {
  margin-top: 640px;
}

.underline-words {
  text-decoration: underline;
}

.underline-words h3 {
  text-decoration: underline;
}

.image-index {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.index-heading {
  margin-top: 30px;
  text-decoration: underline;
}

.index-name {
  padding-top: 30px;
}

.left {
  float: left;
  margin-right: 1em;
}

.right {
  float: right;
  margin-left: 1em;
}

.button-top {
  margin-top: -45px;
}

.booyah-box2 {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 5px 5px 5px;
}

.text-insert {
  padding: 0 0 0 0;
}

.btn-margin {
  margin-top: 5px;
}

.inline-space {
  margin-right: 10px;
}

.read-button {
  margin-top: 5px;
}





.tooltip {
  position: relative;
  opacity: 1;
}
/*.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}*/
/*.tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 20px;
    left: 20px;
  width: 0;
}*/
/*.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 26px;
  white-space: nowrap;
}*/

/* the animations 
/* fade */
/*.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}*/

/* expand 
.tooltip.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooltip.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooltip.expand:hover:before,
.tooltip.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltip.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}

/* swing */
/*.tooltip.swing:before,
.tooltip.swing:after {
  transform: translate3d(0,30px,0) rotate3d(0,0,1,60deg);
  transform-origin: 0 0;
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:after {
  transform: translate3d(0,60px,0);
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:hover:before,
.tooltip.swing:hover:after {
  opacity: 1;
  transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
}*/

/* basic styling: has nothing to do with tooltips: */
/*h1 {
  padding-left: 50px;
}
ul {
  margin-bottom: 40px;
}
li {
  cursor: pointer; 
  display: inline-block; 
  padding: 0 10px;
}
*/



.resize-icon {
  font-size: 10px;
  padding-left: 0;
  margin: 0;
}

li.resize-li {
  padding: 0;
  margin: 0;
}

.li-padding {
  padding-right: 0;
  margin-right: 0;
}

@media only screen and (max-width: 991px) { 
    li.tooltip {
    display: none;
  }
}















