

<div id="Slogan">
  <button type="button" class="btn btn-primary btn-lg float-right img-button" data-toggle="modal" data-target="#myModal">
    Add A Profile
  </button>

  <h1>
    

    <div id="banner">
      <h2 class = "carousel-caption testing">
        "God will take care of the poor trampled slave, 
          but where will the slaveholder be when eternity begins?" - Sojourner Truth

      </h2>
    </div>

    <div id="banner2">
      <h2 class = "carousel-caption testing">
        "You can easily judge the character of a man by how he treats those who can do nothing for him." - Malcolm S. Forbes
      </h2>
    </div>
    
    
  </h1> 
</div>

<div class="clear"></div>
<br />

<div class="mission-statement booyah-box text-center col-10 offset-1">
  <h1>Mission Statement</h1>
  <br />
  <p>"I am for doing good to the poor, but I differ in opinion about the means. 
    I think the best way of doing good to the poor is not making them easy in poverty, but leading or driving them out of it." - Benjamin Franklin
  <br />
  <br />
    This best sums my intention for this website.  Drug and alcohol addiction is rampant in the homeless community.  This website is for homeless
    people and single Mothers living in poverty who will not squander the good intentions of others in order to feed their addictions.  
    While giving to those in need is good, resolving the issue entirely is the approach that I encourage people to take.  The goal of this
    operation is to permanently solve the issue of homelessness and poverty for those who truly hope and strive to better their life.  
  </p>
</div>



<script type="text/javascript">

// Define a random integer function
function random( n ){
    return Math.floor( Math.random() * n );
}

// Define some variables, hide all images and show just one of them.
var transition_time = 1000;
var waiting_time = 7000;
var images = $('div#Slogan div');
var n = images.length;
var current = random( n );
images.hide();
images.eq( current ).show();

// Periodically, we fadeOut the current image and fadeIn a random one
var interval_id = setInterval( function(){
    images.eq( current ).fadeOut( transition_time, function(){
        current = random( n );
        images.eq( current ).fadeIn( transition_time );
    } );
}, 2 * transition_time + waiting_time);

</script>




<br />
<br />





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 id="myModalLabel">Create A Profile</h4>
      </div>

    
      <div class="modal-body">
        <div class="container">
          <div class="row">

            <div class='col-5 offset-1 text-center'>
              <%= link_to("Give Help", new_helper_path, class: "btn btn-primary different-color-button btn-lg") %>
            </div>

            <div class='col-5 offset-1 text-center'> 
              <%= link_to("Get Help", new_helpee_path, class: "btn btn-primary different-color-button btn-lg") %>
            </div>

          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>




