<div id="Slogan">
  <button type="button" class="btn btn-primary btn-lg float-right img-button" data-toggle="modal" data-target="#myModal">
    Add A Profile
  </button>

  <h1>
    <div id="banner1" class="banner">
      <h2 class = "carousel-caption testing">
        "God will take care of the poor trampled slave, 
          but where will the slaveholder be when eternity begins?" - Sojourner Truth
      </h2>
    </div>
    <div id="banner2" class="banner">
      <h2 class = "carousel-caption testing">
        "You can easily judge the character of a man by how he treats those who can do nothing for him." - Malcolm S. Forbes
      </h2>
    </div>
    <div id="banner3" class="banner">
      <h2 class = "carousel-caption testing">
        Ezekiel 16:49 "Behold, this was the guilt of your sister Sodom: she and her daughters had pride, 
        excess of food, and prosperous ease, but did not aid the poor and needy."
      </h2>
    </div>
    <div id="banner4" class="banner">
      <h2 class = "carousel-caption testing">
        Yom Kippur Haftarah: Isaiah 58:7 "It is to share your bread with the hungry, and to take the wretched poor into your home.  When you see the naked, to clothe him, and not to ignore your own kin."
      </h2>
    </div>
    <div id="banner5" class="banner">
      <h2 class = "carousel-caption testing">
        Yom Kippur Haftarah: Isaiah 58:10 "If you banish the yoke from your midst, the menacing hand, and evil speech, 
        and you offer your compassion to the hungry and satisfy the famished creature, then shall your light shine in darkness, 
        and your gloom shall be like noonday."
      </h2>
    </div>
    <div id="banner6" class="banner">
      <h2 class = "carousel-caption testing">
        "Have compassion for all beings, rich and poor alike; each has their suffering. Some suffer too much, others too little." - Buddha
      </h2>
    </div>
    <div id="banner7" class="banner">
      <h2 class = "carousel-caption testing">
        "Where justice is denied, where poverty is enforced, where ignorance prevails, and where any one class is made to feel that society is an organized conspiracy to oppress, rob and degrade them, neither persons nor property will be safe." - Frederick Douglass
      </h2>
    </div>
    <div id="banner8" class="banner">
      <h2 class = "carousel-caption testing">
        "Poverty is the worst form of violence." - Mahatma Gandhi
      </h2>
    </div>
    <div id="banner9" class="banner">
      <h2 class = "carousel-caption testing">
        "Being unwanted, unloved, uncared for, forgotten by everybody, I think that is a much greater hunger, 
        a much greater poverty than the person who has nothing to eat." - Mother Teresa
      </h2>
    </div>
    <div id="banner10" class="banner">
      <h2 class = "carousel-caption testing">
        "A business that makes nothing but money is a poor business." - Henry Ford
      </h2>
    </div>
    <div id="banner11" class="banner">
      <h2 class = "carousel-caption testing">
        "Let us touch the dying, the poor, the lonely and the unwanted according to the graces we have received and let us not be ashamed or slow to do the humble work." - Mother Teresa
      </h2>
    </div>
    <div id="banner12" class="banner">
      <h2 class = "carousel-caption testing">
        "What does love look like? It has the hands to help others. It has the feet to hasten to the poor and needy. It has eyes to see misery and want. It has the ears to hear the sighs and sorrows of men. That is what love looks like." - Saint Augustine
      </h2>
    </div>
    <div id="banner13" class="banner">
      <h2 class = "carousel-caption testing">
        Proverbs 14:31 "Whoever oppresses a poor man insults his Maker, but he who is generous to the needy honors him."
      </h2>
    </div>
    <div id="banner14" class="banner">
      <h2 class = "carousel-caption testing">
        "If the misery of the poor be caused not by the laws of nature, but by our institutions, great is our sin." - Charles Darwin
      </h2>
    </div>
    <div id="banner15" class="banner">
      <h2 class = "carousel-caption testing">
        "Foxes have dens and birds have nests, but the Son of Man has no place to lay his head." - Jesus
      </h2>
    </div>
  </h1> 
</div>

<div class="clear"></div>
<br />

<div class="mission-statement booyah-box text-center col-10 offset-1">
  <h1>Mission Statement</h1>
  <br />
  <p>"I am for doing good to the poor, but I differ in opinion about the means. 
    I think the best way of doing good to the poor is not making them easy in poverty, but leading or driving them out of it." - Benjamin Franklin
  <br />
  <br />
    This best sums my intention for this website.  Drug and alcohol addiction is rampant in the homeless community.  This website is for homeless people and those living in poverty who will not squander the good intentions of others in order to feed their addictions.  
    While giving to those in need is good, resolving the issue entirely is the approach that I encourage people to take.  The goal of this
    operation is to permanently solve the issue of homelessness and poverty for those who truly hope and strive to better their life.  
  </p>
</div>

<script type="text/javascript">
  // Define a random integer function
  function random( n ){
    return Math.floor( Math.random() * n );
  }

  // Define some variables, hide all images and show just one of them.
  var transition_time = 1000;
  var waiting_time = 7000;
  var images = $('div#Slogan div');
  var n = images.length;
  var current = random( n );
  images.hide();
  images.eq( current ).show();

  // Periodically, we fadeOut the current image and fadeIn a random one
  var interval_id = setInterval( function(){
      images.eq( current ).fadeOut( transition_time, function(){
          current = random( n );
          images.eq( current ).fadeIn( transition_time );
      } );
  }, 2 * transition_time + waiting_time);
</script>

<br />
<br />

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 id="myModalLabel">Create A Profile</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class='col-5 offset-1 text-center'>
              <%= link_to("Give Help", new_helper_path, class: "btn btn-primary different-color-button btn-lg") %>
            </div>
            <div class='col-5 offset-1 text-center'> 
              <%= link_to("Get Help", new_helpee_path, class: "btn btn-primary different-color-button btn-lg") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




