
<div class='booyah-box'>
</div>


<div class="container">
  <div class="row">

<div class='booyah-box col-5 offset-1'>
  <h1>Helpers</h1>
  <%= link_to 'Helpers', helpers_path, class: 'navbar-brand' %>
</div>

<div class='booyah-box col-5 offset-1'> 
  <h1>Who needs help?</h1>
</div>

</div>
</div>
  




