<h1>resources</h1>

<script>

    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {lat: 40.0194747, lng: -105.28127790000002}
      });

      var marker = [
      new google.maps.Marker({
        position: {lat: 40.0194747, lng: -105.28127790000002},
        map: map,
        title: 'Bridge House',
         content: '<p><a href="https://boulderbridgehouse.org/">'+
            'Bridge House</a> '+
            '</p>' + '<p>' + 'Address: 2691 30th St, Boulder, CO 80301' +
            '</p>' + '<p>' + 'Hours' + '' + 'Monday 9AM–3PM' + '<br />' + 'hi' + '</p>'
            
         //'<div><strong>' + 'Bridge House' + '</strong></div>'


      }),

      new google.maps.Marker({
        position: {lat: 40.062568, lng: -105.282617},
        map: map,
        title: 'Bridge House',
        content: '<div><strong>' + 'Boulder Shelter The Homeless' + '</strong></div>'
      })

      ];      

      var infowindow = new google.maps.InfoWindow();

      marker.forEach (function(marker){
        google.maps.event.addListener(marker, 'click', (function(marker) {
        return function() {
          infowindow.setContent(marker.content);
          infowindow.open(map, marker);
        }
      })(marker))
      });

    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwy0zq-PsBe_jtUVPkba-Jkm09YsXXvmg&callback=initMap">
  </script>

  <div id="map"></div>